.heroBanner{
    background-image: url("../../assets/home/homepage_banner_c8e60ecef1.png.webp");
}

.infoImg{
    background-image: url("../../assets/home/Polygon.webp");
}

.diagnostic{
    background-image: url("../../assets/home/diagnostic.webp");
}
